
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Message</h1>

<div>
    <h3>@ViewBag.Message</h3>
    <p>There are @ViewBag.CustomerCount customers added into the list.</p>

    <ul>
        @foreach(var item in ViewBag.CustomerList)
        {
            <li>@item.Id - @item.Name - @item.Amount</li>
        }
    </ul>

    <table>
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Customer Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in ViewBag.CustomerList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>

    
    @Html.ActionLink("Details Page", "Details", "Customer")
    <br/>
    <a asp-controller="Customer" asp-action="Message">Message</a>
</div>